{
  "CORE_DB_HOST": "<core-db-host>",
  "CORE_DB_USERNAME": "<core-db-username>",
  "CORE_DB_PASSWORD": "<core-db-password>",
  "TRAINING_DB_HOST": "<internal-db-host>",
  "TRAINING_DB_USERNAME": "<db-username>",
  "TRAINING_DB_PASSWORD": "<db-password>"
}
